@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.boton-logout{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    font-family: 'Quicksand';
    font-weight: bold;
}

#button-logout:hover{
    color: #fff;
    background-color: #f44336;
    border-color: #f44336;
    cursor: pointer;
}
h1, span{
    font-weight: bold;
    font-size: 1.2rem;
    color: #007bff;
    font-family: 'Quicksand';
}
.perfil{
    color:#007bff; 
    font-family: 'Quicksand';
    margin-right: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    
}
.perfil:hover{
    cursor: pointer;
    background-color: green;
}
